<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczalnia - Panel Admina</title>
</head>

<div>
    <a href="/admin">
        <button>Rowery</button>
    </a>
    <a href="/admin/orders">
        <button>Zamówienia</button>
    </a>
    <a href="/admin/opinions">
        <button>Opinie</button>
    </a>
    <a href="/admin/password">
        <button>Zmień hasło</button>
    </a>
    <a href="/logout">
        <button>Wyloguj</button>
    </a>
</div>

<body>

<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>

<h1>Panel Admina - Zmiana hasła</h1>

<form method="post" th:action="@{/admin/changePassword}">
    <div>
        <label for="password">Podaj nowe hasło:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="password">Podaj nowe hasło:</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" required>
    </div>
    <div>
        <button type="submit">Zapisz zmiany</button>
    </div>
</form>

</body>

</html>