<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczalnia - Panel Admina</title>
</head>

<div>
    <a href="/admin">
        <button>Rowery</button>
    </a>
    <a href="/admin/orders">
        <button>Zamówienia</button>
    </a>
    <a href="/admin/opinions">
        <button>Opinie</button>
    </a>
    <a href="/admin/password">
        <button>Zmień hasło</button>
    </a>
    <a href="/logout">
        <button>Wyloguj</button>
    </a>
</div>

<body>

<div th:if="${message}" class="alert alert-success">
    <p th:text="${message}"></p>
</div>

<h1>Panel Admina - Zarządzanie Opiniami</h1>

<div th:each="opinion : ${opinions}">
    <form method="post" action="/admin/deleteOpinion" id="opinionFormDelete">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${opinion.id}"></td>
                <td th:text="${opinion.name}"></td>
                <td th:text="${opinion.customerEmail}"></td>
                <td th:text="${opinion.subject}"></td>
            </tr>
            </tbody>
        </table>
        <div>Treść opinii:</div>
        <div th:text="${opinion.message}"></div>
        <input type="hidden" id="id" name="id" th:value="${opinion.id}">
        <div>
            <button type="submit">Usuń</button>
        </div>
    </form>
</div>

</body>

</html>