<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczalnia - Panel Admina</title>
</head>

<div>
    <a href="/admin">
        <button>Rowery</button>
    </a>
    <a href="/admin/orders">
        <button>Zamówienia</button>
    </a>
    <a href="/admin/opinions">
        <button>Opinie</button>
    </a>
    <a href="/admin/password">
        <button>Zmień hasło</button>
    </a>
    <a href="/logout">
        <button>Wyloguj</button>
    </a>
</div>

<body>

<h1>Panel Admina - Zarządzanie Rowerami</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Wypożyczone rowery</th>
            <th>Data rozpoczęcia wynajmu</th>
            <th>Data zwrotu</th>
            <th>Imię klienta</th>
            <th>Nazwisko klienta</th>
            <th>Adres zamieszkania</th>
            <th>Miasto</th>
            <th>Kod pocztowy</th>
            <th>Email</th>
            <th>Numer telefonu</th>
            <th>Do zapłaty</th>
            <th>Dopłata za późniejszy zwrot</th>
            <th>Całkowita zapłata</th>
            <th>Nalicz kary</th>
            <th>Nalicz odlicz kary</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tr th:each="order : ${orders}">
        <form method="post" action="/admin/addPenalty" id="orderFormAddPenalty">
            <td th:text="${order.id}"></td>
            <td th:text="${order.bicycles}"></td>
            <td th:text="${#dates.format(order.beginRent, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#dates.format(order.endRent, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${order.customerFirstName}"></td>
            <td th:text="${order.customerLastName}"></td>
            <td th:text="${order.customerAddress}"></td>
            <td th:text="${order.customerCity}"></td>
            <td th:text="${order.customerPostalCode}"></td>
            <td th:text="${order.customerEmail}"></td>
            <td th:text="${order.customerPhoneNum}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.penaltyPrice}"></td>
            <td th:text="${order.totalPrice}"></td>
            <input type="hidden" name="id" id="orderIdInput1" th:value="${order.id}">
            <td>
                <button type="submit">Nalicz</button>
            </td>
        </form>
        <form method="post" action="/admin/cancelPenalty" id="orderFormCancelPenalty">
            <input type="hidden" name="id" id="orderIdInput2" th:value="${order.id}">
            <td>
                <button type="submit">Odlicz</button>
            </td>
        </form>
        <form method="post" action="/admin/deleteOrder" id="orderFormDelete">
            <input type="hidden" name="id" id="orderIdInput3" th:value="${order.id}">
            <td>
                <button type="submit">Usuń</button>
            </td>
        </form>
    </tr>
</table>

</body>

</html>